<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Libros</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link active" href="/entries">Agregar libro</a>
    </li>
  </ul>